# Ignore IDE and editor-specific files
.vscode/
.idea/
.pyc
__pycache__/

# Ignore Python virtual environment files
venv/
.venv/
env/
.env/

# Ignore Django migration files
*/migrations/
db.sqlite3

# Ignore local development settings
local_settings.py